[Unit]
Description=SASE Lab4 Finance Server
After=network.target

[Service]
User=root
WorkingDirectory=/root/
ExecStart=python3 /root/finance_server.py
Restart=always

[Install]
WantedBy=multi-user.target